# .NET
bin/
obj/
*.user
*.suo
*.cache
*.log

# Visual Studio
.vs/

# VS Code
.vscode/

# Node / React
node_modules/
dist/
build/

# Environment / secrets
*.env
.env*

# Client app
/client/node_modules/
/client/dist/
/client/.vite/
/client/.next/
/client/.env*
/client/.env
